@import 'tailwindcss';

@theme {
  --color-*: initial;
  --color-dodger-blue: #38b6ff;

  --color-cod-gray-100: #2c2c2c;
  --color-cod-gray-200: #262626;
  --color-cod-gray-300: #212121;
  --color-cod-gray-400: #1a1a1a;
  --color-cod-gray-500: #121212;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-transparent: transparent;

  --animate-waving-hand: wave 2.5s linear infinite;

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  ::-webkit-scrollbar {
    @apply w-1 h-1;
  }

  ::-webkit-scrollbar-track {
    @apply bg-cod-gray-500;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-cod-gray-300 rounded-sm;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-cod-gray-100;
  }

  ::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
  }

  .mdx-article {
    h1 {
      @apply text-4xl font-bold;
    }

    h2 {
      @apply text-3xl font-bold;
    }

    h3 {
      @apply text-2xl font-bold;
    }

    h4 {
      @apply text-xl font-bold;
    }

    h5 {
      @apply text-lg font-bold;
    }

    h6 {
      @apply text-base font-bold;
    }

    ul {
      @apply list-disc list-inside;

      > li {
        @apply mb-3;
      }
    }

    ol {
      @apply list-decimal list-inside;

      > li {
        @apply mb-3;
      }
    }

    code {
      @apply bg-cod-gray-300 rounded-sm px-2 py-0.5 border border-white/10;
    }

    pre {
      @apply p-3 sm:p-6 overflow-y-scroll bg-scroll rounded-sm;
      @apply bg-cod-gray-300;

      code {
        @apply px-0 py-0 border-0;
      }
    }

    pre::-webkit-scrollbar {
      display: none;
    }
  }

  a {
    @apply hover:text-dodger-blue underline underline-offset-4 transition-all duration-300;
  }

  kbd {
    @apply bg-cod-gray-300 rounded-sm px-2 py-0.5 border border-white/10;
  }
}
